@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";


@font-face {
  font-family: "Amoera";
  src: url("/amoera.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* =========================================
   THEME
========================================= */

@theme {
  /* MAIN COLORS */
  --color-background: #F4EDDB;
  --color-primary: #3A393F;

  /* ACCENT COLORS */
  --color-accent: #B89B5E;
  --color-secondary: #8E8576;

  /* TEXT COLORS */
  --color-text: #3A393F;
  --color-subtext: #6F6B73;
  --color-muted: #9B9588;

  /* UI COLORS */
  --color-card: #FAF7F0;
  --color-border: #DDD3BE;

  /* DARK VARIANTS */
  --color-dark: #2C2B30;
  --color-dark-soft: #44434A;

  /* FONTS */
  --font-heading: "Amoera", serif;
  --font-body: "Work Sans", sans-serif;




}

